{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
{% endblock %}


{% block body %}
<div class="homeContainer">


    
    <img src="{% static 'pictures/main_logo.png' %}" id="main_logo"/>
    <br>
    <a href="{% url 'ranking' %}" class="startbtn">
        <div class="info_start">시작하기</div>
        <div class="info_small_div">
            <div class="info_small">총 방문자 수: {{visitors}}</div>
            <div class="info_small">총 게시물 수: {{posts}}</div>
        </div>
    </a>
    <br>

    <div class= "text">
        <p class="home-text">2023 석탑대동제 그리고, 입실렌티<br>고려대 학생들의 <b>사진 콘테스트</b>
        <br><span>2023.05.26~2023.05.28</span>
        <span class="middle_align">단, 3일</span>
        <br>
        <span class="middle_align">🌝 대동제의 낮
        🌚 대동제의 밤
        ❤️ 입실렌티
        </span>
        <span class="middle_align">
        마음에 드는 사진에 ❤️를 남겨주세요!
        <br>
        단과대별 순위 및 명예의 전당은 
        @Kuku_photocontest
        에서 확인하세요!
        </span>
        <span class="middle_align small-text">
        명예의 전당을 제외한 모든 사진은 5월 29일 삭제되니
        부담없이 올려보아요😉
        </span>
        </p>
    </div>

</div>
{% endblock %}